# =========================
# Android / Gradle
# =========================
.gradle/
build/
**/build/

google-services.json

# =========================
# Local configuration
# =========================
local.properties
*.env
.env

# =========================
# IDE (Android Studio / IntelliJ)
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Keystore / signing
# =========================
*.jks
*.keystore

# =========================
# Native build
# =========================
.externalNativeBuild/
.cxx/

# =========================
# Android captures
# =========================
captures/

# =========================
# Optional / temp
# =========================
*.swp